{% extends 'base.html' %}
{% block title %}
  Admin Dashboard
{% endblock %}
{% block content %}
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-6">
        <h2 class="text-center text-light">Admin Panel</h2>
        <form method="post" action="/admin_dashboard" class="text-center">
          <div class="d-flex justify-content-center align-items-center mb-4">
            <div class="form-check form-switch">
              <input 
                class="form-check-input" 
                name="toggle_queue" 
                type="checkbox" 
                role="switch" 
                id="flexSwitchCheckDefault"
                {% if queue_enabled %}checked{% endif %}
                onchange="this.form.submit()" 
              />
              <label class="form-check-label ms-2 text-light" for="flexSwitchCheckDefault">Toggle Queue</label>
            </div>
          </div>
        </form>
        <div class="text-center mt-4">
          <a class="btn btn-sm btn-danger" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
